<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediCare Automation</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Welcome to MediCare Automation</h1>
            <p>Integrating cutting-edge technology for your health and convenience.</p>
        </header>
        <nav class="navbar">
            <a href="/" class="nav-link">Chatbot</a>
            <!-- Add other navigation links if necessary -->
        </nav>
        <main class="main-content">
            <section class="call-to-action">
                <h2>Experience the future of medical care.</h2>
                <button onclick="location.href='/'" class="cta-button">Talk to our Chatbot</button>
            </section>
        </main>
        <footer class="footer">
            <p>&copy; 2024 MediCare Automation. All rights reserved.</p>
        </footer>
    </div>
   <!-- At the end of the body in home.html -->
<script src="{{ url_for('static', filename='home.js') }}"></script>

</body>
</html>
